@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;

// Colors
$blue-midnight: #1e1f36;
$grey-gun: #4b4c5f;
$grey-storm: #787887;
$grey-athens: #e8e8ea;
$orange-crusta: #f47b56;
$violet-medium: #b068e9;
$violet-royal: #6463e7;
