@use "./../01-abstracts/" as *;

.question {
	margin-top: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid $grey-athens;

  &__title {
    color: $grey-gun;
      line-height: 16px;
  }

  &__answer {
	  margin-top: 12px;
  }

  &[open] .question {
    &__title {
      color: $blue-midnight;
      font-weight: 700;
    }
  }
}
