@use "./../01-abstracts/" as *;

.question {
  margin: 17px auto auto;
  padding-bottom: 16px;
  border-bottom: 1px solid $grey-athens;
  position: relative;
  max-width: 350px;
  cursor: pointer;

  &__title {
    color: $grey-gun;
    line-height: 16px;

    &::marker {
      content: none;
    }

    &::after {
      content: url("/src/assets/images/icon-arrow-down.svg");
      margin-left: auto;
      position: absolute;
      right: 0;
    }

    &:hover {
      color: $orange-crusta;
    }
  }

  &__answer {
    margin-top: 12px;
    max-width: 95%;
  }

  &[open] .question {
    &__title {
      color: $blue-midnight;
      font-weight: 700;

      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
